* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #f5f5f5;
    color: #222;
}

nav {
    background: #222;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

nav ul {
    display: flex;
    gap: 20px;
    list-style: none;
}

nav a {
    color: white;
    text-decoration: none;
}

section {
    padding: 60px 30px;
    max-width: 1000px;
    margin: auto;
}

#home {
    text-align: center;
    min-height: 70vh;
}

button {
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
}